yt-dlp==2024.12.01
openai-whisper
torch==2.0.1      # Use appropriate version if GPU is available (e.g., 'torch==2.0.1+cu118')
torchvision==0.15.2
torchaudio==2.0.1
ffmpeg-python         # Optional Python wrapper for FFmpeg, not mandatory but useful
faiss-cpu   
sentence-transformers
numpy
transformers
openai
streamlit