yt-dlp==2024.12.13
openai-whisper
torch==2.2.0  # Use the correct version
torchvision==0.20.1  # Updated to a compatible version
torchaudio==2.2.0  # Match with the torch version
ffmpeg-python
faiss-cpu
sentence-transformers
numpy
transformers
openai
streamlit
